.cardBody {
    padding:2% 5%;
    border-radius:5px;    
    border:1px solid #aaaaaa;
    box-shadow:1px 1px 3px #aaaaaa;    
    
}

.cardBodyOnHover {
    padding:2% 5%;
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius:5px;    
    border:1px solid #aaaaaa;
    box-shadow:1px 1px 3px #aaaaaa;      
    background-color: rgb(128, 180, 137);
    opacity:0.8;    
    transition: 0.3s ease-in-out;
  /* transition-delay: 2s; */
}

.details {
    cursor:pointer;
    color:white;    
}

/* .description {
    padding:2% 5%; 
    border-radius:5px;    
    border:1px solid #aaaaaa;
    box-shadow:1px 1px 3px #aaaaaa;  
    width:100%;
    height:100%;
    background-color: black;
    opacity:0.8; 
    color:white;
} */

.image {
    height:260px;
    width:260px;    
}

.title {
    color:rgb(128, 180, 137);
    font-family: 'Raleway', sans-serif;
}


